azure-identity
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-storage
azure-mgmt-sql
azure-mgmt-subscription 
msrestazure
azure-mgmt-web 
azure-core
colorama
azure-mgmt-monitor 
azure-storage-blob 
