adal==1.2.7
azure-common==1.1.27
azure-core==1.19.0
azure-identity==1.7.0
azure-mgmt-compute==23.1.0
azure-mgmt-core==1.3.0
azure-mgmt-monitor==2.0.0
azure-mgmt-network==19.2.0
azure-mgmt-resource==20.0.0
azure-mgmt-sql==3.0.1
azure-mgmt-storage==19.0.0
azure-mgmt-subscription==1.0.0
azure-mgmt-web==5.0.0
azure-storage-blob==12.9.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
cryptography==35.0.0
idna==3.3
isodate==0.6.0
msal==1.15.0
msal-extensions==0.3.0
msrest==0.6.21
msrestazure==0.6.4
oauthlib==3.1.1
portalocker==1.7.1
pycparser==2.20
PyJWT==2.3.0
python-dateutil==2.8.2
requests==2.26.0
requests-oauthlib==1.3.0
six==1.16.0
urllib3==1.26.7
