adal
azure-common
azure-core
azure-identity
azure-mgmt-compute
azure-mgmt-core
azure-mgmt-resource
azure-mgmt-sql
azure-mgmt-subscription
azure-mgmt-web
azure.storage.blob
certifi
cffi
chardet
colorama
cryptography
idna
isodate
msal
msal-extensions
msrest
msrestazure
oauthlib
portalocker
pycparser
PyJWT
python-dateutil
requests
requests-oauthlib
six
urllib3
